* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/form-email.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-content {
  background: linear-gradient(
    50deg,
    rgb(30, 32, 35, 1) 0%,
    rgb(30, 32, 35, 0.3)
  ),
    url(img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  width: 1000px;
  border-radius: 25px; 
}

.form-content h2 {
  color: #F4F6F9;
  font-size: 40px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

label {
  font-size: 17px;
  color: #959AAB;
  margin-bottom: 10px;
}

input , textarea {
  padding: 17px 14px;
  background-color: #333646;
  border: 0;
  font-size: 15px;
  color: #F4F6F9;
  margin-bottom: 20px;
  border-radius: 10px;
}

:focus {
  outline: 1px solid #1E92E9;
}

.btn {
  background-color: #1E92E9;
  width: 150px;
  align-self: flex-end;
  cursor: pointer;
}

.btn:hover {
  background-color: #219BF9;
}

@media(max-width:991px) {
  body {
    padding: 30px;
  }

  .form-content {
    width: 100%;
  }

  form {
    width: 100%;
  }
}

